@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #d8d8d8, #fff) no-repeat fixed;
}
input {
	font-family: inherit;
	&:focus {
		outline: 2px solid #dcedff;
	}
}
a {
  text-decoration: none;
  color: #000;
}
#app {
  padding: 10px 20px;
}

.content-title {
	margin: 20px 6px;
}

.container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.wordlist {
	flex-basis: 80%;
	overflow: hidden;
	&__message {
		text-align: center;
    font: 300 26px 'Roboto';
	}
}